{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d0a8fa2eb5659a423aab43a2e7c73d74",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://app.asana.com/api/1.0/users/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 417,
            "text": "{\"data\":{\"gid\":\"1202074680999655\",\"email\":\"stefan.virag@contractor.jupiterone.com\",\"name\":\"Stefan Virag\",\"photo\":null,\"resource_type\":\"user\",\"workspaces\":[{\"gid\":\"1202074797538488\",\"name\":\"contractor.jupiterone.com\",\"resource_type\":\"workspace\"},{\"gid\":\"1202164939300698\",\"name\":\"Test workspace\",\"resource_type\":\"workspace\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-asana-api-version",
              "value": "1.1"
            },
            {
              "name": "asana-change",
              "value": "name=new_project_templates;info=https://forum.asana.com/t/a-new-api-for-project-templates/156432, name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828"
            },
            {
              "name": "datacenter-time-end",
              "value": "1650990237.394"
            },
            {
              "name": "x-loadbalancer",
              "value": "prod-lb007.ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 854,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
