{
  "log": {
    "_recordingName": "build-project-membership-allows-project-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c2c407b1482b59f763934b8735364310",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "opt_fields",
              "value": "gid,name,email,resource_type"
            }
          ],
          "url": "https://app.asana.com/api/1.0/users/me?opt_fields=gid%2Cname%2Cemail%2Cresource_type"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 282,
            "text": "{\"data\":{\"gid\":\"1202074680999655\",\"email\":\"stefan.virag@contractor.jupiterone.com\",\"name\":\"Stefan Virag\",\"resource_type\":\"user\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-asana-api-version",
              "value": "1.1"
            },
            {
              "name": "asana-change",
              "value": "name=new_project_templates;info=https://forum.asana.com/t/a-new-api-for-project-templates/156432, name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828"
            },
            {
              "name": "datacenter-time-end",
              "value": "1650896738.884"
            },
            {
              "name": "x-loadbalancer",
              "value": "prod-lb001.ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1400,
      },
      {
        "_id": "cab256aae5e5cee56885cdff39c0244c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "30"
            },
            {
              "name": "opt_fields",
              "value": "gid,name,resource_type"
            }
          ],
          "url": "https://app.asana.com/api/1.0/workspaces?limit=30&opt_fields=gid%2Cname%2Cresource_type"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 321,
            "text": "{\"data\":[{\"gid\":\"1202074797538488\",\"name\":\"contractor.jupiterone.com\",\"resource_type\":\"workspace\"},{\"gid\":\"1202164939300698\",\"name\":\"Test workspace\",\"resource_type\":\"workspace\"}],\"next_page\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-asana-api-version",
              "value": "1.1"
            },
            {
              "name": "asana-change",
              "value": "name=new_project_templates;info=https://forum.asana.com/t/a-new-api-for-project-templates/156432, name=new_user_task_lists;info=https://forum.asana.com/t/[...]
